<!-- <div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <h3>Administrador de productos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <span (click)="agregarProducto()" class="btn btn-primary btn-xs">Agregar Producto</span>
            <br /><br />
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Habilitado</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.precio}}</td>
                        <td><img class="img-responsive" src="{{producto.imagen}}" alt="imagen" style="width: 50px;"/></td>
                        <td>true</td>
                        <td><span class="btn btn-primary btn-xs" (click)="editarProducto(producto)"><span class="far fa-edit"></span></span></td>
                        <td><span class="btn btn-danger btn-xs" (click)="eliminarProducto(producto)"><span class="far fa-trash-alt"></span></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
falta la parte de pagos
</div> -->

<mat-tab-group>
    <mat-tab label="Productos">
        <agregar-producto></agregar-producto>
        <!-- <div class="row fila">
            <div class="col title">Nombre</div>
            <div class="col title">Imágen</div>
            <div class="col title">Precio</div>
            <div class="col title">Habilitado</div>
        </div>
        <modal-agregar-producto></modal-agregar-producto> -->
        <!-- <modal title="Titulo" openButton="Abrir"></modal>
        <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre" />
                </mat-form-field>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <button type="button" onclick="document.getElementById('fileToUpload').click()">
                        AgregarImagen
                    </button>
                    <p>{{registerForm.controls.imagen.value}}</p>
                    <input id="fileToUpload" type="file" style="display:none;" (change)="guardarImagen($event)" formControlName="imagen" >
                </div>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Precio" type="number" formControlName="precio" class="example-right-align">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-slide-toggle color="primary" checked="true" (change)="cambiarHabilitado($event)">Habilitado</mat-slide-toggle>
            </div>

            <div class="form-group">
                <button>Register</button>
            </div>
        </form> -->
        <!-- <div class="row">
            <div class="col-md-8">
                <span (click)="agregarProducto()" class="btn btn-primary btn-xs">Agregar Producto</span>
                <br /><br />
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Habilitado</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>{{producto.id}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td><img class="img-responsive" src="{{producto.imagen}}" alt="imagen" style="width: 50px;"/></td>
                            <td>true</td>
                            <td><span class="btn btn-primary btn-xs" (click)="editarProducto(producto)"><span class="far fa-edit"></span></span></td>
                            <td><span class="btn btn-danger btn-xs" (click)="eliminarProducto(producto)"><span class="far fa-trash-alt"></span></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  -->
    </mat-tab>
    <mat-tab label="Ventas"> 
        <ventas></ventas>
    </mat-tab>
</mat-tab-group>
