<div class="modal-content modalBorder">
    <div class="modal-header header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar Producto</h4>
        <i class="material-icons pointer" (click)="modalService.dismissAll()">close</i>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="handleSubmit()">
            <div class="form-group">
                <label>¿Está seguro que desea eliminar el producto {{producto.nombre}}?</label>
                <div class="imagenDiv">
                    <img src="{{producto.imagen}}" alt="Imágen" class="imagen">
                </div>
            </div>

            <div class="form-group">
                <div class="text-right">
                    <mat-bar-button [options]="barButtonOptions"> </mat-bar-button>
                </div>
            </div>
        </form>
    </div>
</div>
