.contactoImagen {
    width: 100%;
    max-height: 223px;
}

.mediaImagen {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-family: 'Fredoka One', cursive;
    display: inline;
}

.textBlack {
    color: #000000db;
}

.textBlue {
    color: #2180ff
}