<div class="row">
    <div class="col-sm-3">
        <p class="text textBlack">Juegos </p>
        <p class="text textBlue">YOP</p>
        <p class="text textBlack"> es una división de Infinity Rotomolding (ingeniería especializada en productos rotomoldeados) conjugando la calidad y el diseño, con la durabilidad y prestaciones de la tecnologìa de plástico rotomoldeado, aportando una nueva mirada al mundo de los juegos.</p>
        <br />
        <br />
        <p class="text textBlack">Somos una empresa argentina, con foco en el aporte a la calidad y el diseño de juegos para niños.</p>
    </div>
    <div class="col-sm-9">
        <img class="mediaImagen" src="https://static.wixstatic.com/media/c64e94_561d7089976d47a88b1887ec2e9152b2.png" alt="imagen">
    </div>
</div>
<img class="contactoImagen" src="https://i.ibb.co/pRnp8MP/Captura.jpg" alt="imagen">
