<div class="row">
    <div class="col-sm-3">
        <h2 class="componentTitle">Nosotros</h2>
        <br><br>
        <span>Yop Juegos es una división de Infinity Rotomolding (ingeniería especializada en productos rotomoldeados) conjugando la calidad y el diseño, con la durabilidad y prestaciones de la tecnologìa de plástico rotomoldeado, aportando una nueva mirada al mundo de los juegos.</span>
        <br><br>
        <span>Somos una empresa argentina, con foco en el aporte a la calidad y el diseño de juegos para niños.</span>

    </div>
    <div class="col-sm-9">
        <img class="mediaImagen" src="https://static.wixstatic.com/media/c64e94_561d7089976d47a88b1887ec2e9152b2.png/v1/fill/w_704,h_353,al_c,lg_1,q_80/c64e94_561d7089976d47a88b1887ec2e9152b2.webp" alt="imagen">
    </div>
</div>
<img class="contactoImagen" src="https://i.ibb.co/pRnp8MP/Captura.jpg" alt="imagen">
