<div class="modal-content modalBorder">
    <div class="modal-header header">
        <h4 class="modal-title" id="modal-basic-title">Editar Producto</h4>
        <i class="material-icons pointer" (click)="modalService.dismissAll()">close</i>
    </div>
    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="!hasErrors() && handleSubmit()">
            <div class="form-group">
                <button type="button" mat-raised-button color="primary" onclick="document.getElementById('fileToUpload').click()">
                    Seleccionar imágen principal
                </button>
                <div class="imagenDiv">
                    <img src="{{producto.imagen}}" alt="Imágen" class="imagen">
                </div>
                <input id="fileToUpload" type="file" style="display:none;" (change)="guardarImagenPrin($event)" formControlName="imagen" />
            </div>

            <div class="form-group">
                <button type="button" mat-raised-button color="primary" onclick="document.getElementById('fileDescToUpload').click()">
                    Seleccionar imágen descripción
                </button>
                <div class="imagenDiv">
                    <img src="{{producto.imagenDesc}}" alt="ImágenDesc" class="imagen">
                </div>
                <input id="fileDescToUpload" type="file" style="display:none;" (change)="guardarImagenDesc($event)" formControlName="imagen" />
            </div>

            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre" />
                    <mat-error *ngIf="editForm.controls.nombre.errors">Debe ingresar un nombre para el producto.</mat-error>
                </mat-form-field>
            </div>


            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Precio" type="number" formControlName="precio" class="example-right-align" />
                    <span matPrefix>$&nbsp;</span>
                    <mat-error *ngIf="editForm.controls.precio.errors">Debe ingresar un precio para el producto.</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-slide-toggle color="primary" [checked]="producto.habilitado" (change)="cambiarHabilitado($event)">{{producto.habilitado ? 'Habilitado': 'Deshabilitado'}}</mat-slide-toggle>
            </div>

            <div class="form-group">
                <div class="text-right">
                    <mat-bar-button [options]="barButtonOptions"> </mat-bar-button>
                </div>
            </div>
        </form>
    </div>
</div>
