input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pointer {
    cursor: pointer;
}

.agregar {
    float: right;
    margin-bottom: 10px;
}

.header {
    border-bottom-width: 0px;
}

.modalBorder {
    border: 3px solid black;
    border-radius: 4px;
}

.imagen {
    /* max-width: 100px;
    max-height: 100px; */
    max-width: 200px;
    max-height: 150px;
}

.imagenDiv {
    margin-top: 30px;
}

.inputText {
    font-family: 'Fredoka One', cursive;
    color: #000000a6 !important;
    font-size: 15px;
}

.errorText {
    font-family: 'Fredoka One', cursive;
}

mat-slide-toggle.mat-primary:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: red;
  }

::ng-deep .mat-form-field-label{
    font-family: 'Fredoka One', cursive !important;
    color:black !important;
}

.seleccionarImagen {
    font-family: 'Fredoka One', cursive;
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000a6 !important;
    color: #000000a6 !important;
    font-size: 15px;
}

.title {
    font-family: 'Fredoka One', cursive;
}
