<div *ngIf="isLoggedIn; else loggedOut">
  <admin></admin>
  <button class="text" mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  <form class="centrar" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <mat-form-field>
        <input class="inputText"  matInput placeholder="Usuario" formControlName="username"/>
        <mat-error class="errorText"  *ngIf="loginForm.controls.username.errors">Debe ingresar su nombre de usuario.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="contrasenhiaWidth">
        <input class="inputText" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password"/>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="errorText"  *ngIf="loginForm.controls.password.errors">Debe ingresar su contraseña.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <div *ngIf="!loginForm.valid; else validForm">
          <span [tooltip]="loginForm.controls.username.errors ? 'Debe ingresar su nombre de usuario.' : 'Debe ingresar su contraseña.'" placement="right">
              <button mat-raised-button color="primary" [disabled]="true" class="text">Login</button>
          </span>
      </div>
      
      <ng-template #validForm>
        <button mat-raised-button color="primary" class="text">Login</button>
      </ng-template>
    </div>
  </form>
</ng-template>
