@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.title {
    font-family: 'Fredoka One', cursive;
    /*border: 2px solid black;*/
    text-align: center;
    background-color: #01579b;
    border-bottom: 1px solid black;
}

.fila {
    font-family: 'Dosis', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #1e70b18c;
    border-top: 2px solid black;
    /*border: 2px solid black;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.textBlack {
    color:black;
}

.tableBorder {
    border: 3px solid black;
    border-radius: 3px;
}

.noPaddingLeft {
    padding-left: 0px;
    text-align: right;
}

.marginTopButton {
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
    color: #2b2626;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
}

.iconSpace {
    margin-bottom:4px;
    margin-right: 4px;
}

.row {
    margin-left: 0px;
    margin-right: 0px
}

mat-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

mat-cell:first-of-type {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-cell:last-of-type {
    padding-right: 0px;
}

.emailCenter {
    padding-right: 0px;
}