.example-container {
    display: flex;
    flex-direction: column;

}
.componentTitle {
    display: block;
    flex-direction: column;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'Gaegu', cursive;
}

.mat-form-field{
    width: 1000px;
}
