
<mat-grid-list cols="6">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="example-container">
            <img src="https://i.ibb.co/pRnp8MP/Captura.jpg" alt="imagen">
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <div class="example-container">
            <p>Infinity Rotomolding Ltda.</p>
            <p>Sarandí. Avellaneda, Buenos Aires</p>
            <p>Tel.: (011) 4203-0673</p>
            <p>Tel.: (011) 4205-2516</p>
            <p>Tel.: (011) 4205-2322</p>
            <p>info@infinityrotomolding.com</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <mat-card class="example-card">
            <mat-card-header>
                <h5 class="componentTitle">Contactanos</h5>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Nombre" formControlName="contactFormName" required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="contactFormEmail" required />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Asunto" formControlName="contactFormSubject" required />
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Mensaje" formControlName="contactFormMessage" required></textarea>
                        </mat-form-field>
                        <div class="form-group">
                            <div class="text-right">
                                <button mat-raised-button color="primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
