<img class="contactoImagen" src="https://i.ibb.co/pRnp8MP/Captura.jpg" alt="imagen">
<div class="row">
    <div class="col-sm-3">
        <p class="infinityTitulo">Infinity Rotomolding Ltda.</p>
        <p>Sarandí. Avellaneda, Buenos Aires</p>
        <a class="numeroTelefono" href="tel:01142030673">Tel.: (011) 4203-0673</a>
        <a class="numeroTelefono" href="tel:01142052516">Tel.: (011) 4205-2516</a>
        <a class="numeroTelefono" href="tel:01142052322">Tel.: (011) 4205-2322</a>
        <a class="numeroTelefono" href="mailto:info@infinityrotomolding.com">info@infinityrotomolding.com</a>
    </div>
    <div class="col-sm-9">
        <h2 class="componentTitle">Contactanos</h2>
        <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombre" />
                <mat-error *ngIf="contactForm.controls.nombre.errors">Debe ingresar su nombre.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="remitente" />
                <mat-error *ngIf="contactForm.controls.remitente.errors">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Asunto" formControlName="asunto" />
                <mat-error *ngIf="contactForm.controls.asunto.errors">Debe ingresar un asunto.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Mensaje" formControlName="cuerpo"></textarea>
                <mat-error *ngIf="contactForm.controls.cuerpo.errors">Debe ingresar un mensaje.
                </mat-error>
            </mat-form-field>

            <div class="form-group">
                <div *ngIf="!contactForm.valid; else validForm">
                    <div class="text-right">
                        <span [tooltip]="getErrorMessage()" placement="left">
                            <button mat-raised-button color="primary" [disabled]="true">Enviar</button>
                        </span>
                    </div>
                </div>

                <ng-template #validForm>
                    <div class="text-right">
                        <mat-bar-button [options]="barButtonOptions"></mat-bar-button>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
</div>
