.example-card {
    margin: auto;
    max-width: 800px;
}

.example-container {
    display: block;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

.componentTitle {
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'Gaegu', cursive;
}
