.example-container {
    display: flex;
    flex-direction: column;

}
.componentTitle {
    display: block;
    flex-direction: column;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'Gaegu', cursive;
    margin-top: -11px;
}

.contactoImagen {
    width: 100%;
}

.mat-form-field{
    width: 100%;
}

.numeroTelefono {
    display: flex;
    word-break: break-all;
}
