<div class="row fila separarTabla">
    <div class="col title">Nombre</div>
    <div class="col title">Imágen</div>
    <div class="col title">Precio</div>
    <div class="col title">Habilitado</div>
</div>
<div *ngFor="let producto of productos">
    <div class="row fila">
        <div class="col colValor">{{producto.nombre}}</div>
        <div class="col colValor"> <img class="imagen" src="{{producto.imagen}}" alt="Imagen"> </div>
        <div class="col colValor">$ {{producto.precio}}</div>
        <div class="col colValor">{{producto.habilitado ? 'SÍ' : 'NO'}}</div>
    </div>
</div>
<modal-agregar-producto></modal-agregar-producto>