@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.title {
    font-family: 'Fredoka One', cursive;
    border: 2px solid black;
    text-align: center;
    background-color: #3f51b5;
    font-size: 28px;
    font-weight: bold;
}

.fila {
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid black;
}

.valor {
    border-right: 2px solid black;
}

.separarTabla {
    margin-top: 10px;
}

.colValor {
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    align-items: center;
    font-weight: bold;
    font-size: 27px;
    background-color: #002eff57;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.imagen {
    max-height: 74px;
    max-width: 162px;
}