@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.title {
    font-family: 'Fredoka One', cursive;
    border: 2px solid black;
    text-align: center;
}

.fila {
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid black;
}

.valor {
    border-right: 2px solid black;
}

.colValor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.imagen {
    max-height: 74px;
    max-width: 162px;
}