<div class="example-container mat-elevation-z8">

    <mat-table class="tableBorder" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="textBlack"> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="textBlack"> Precio </mat-header-cell>
            <mat-cell *matCellDef="let row"> ${{row.precio}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="imagen">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="textBlack"> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let row"> <img class="imagen" src="{{row.imagen}}" alt="Imagen" style="height: 50px;"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="habilitado">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="textBlack"> Habilitado </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.habilitado ? 'SÍ' : 'NO'}} </mat-cell>
        </ng-container>

        <mat-header-row class="title" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="fila" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

        <!-- botones -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="crear()">
                    <mat-icon aria-label="Add" class="textBlack">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="editar(row)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="borrar(row)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

    </mat-table>

    <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
</div>
