<div role="document">
    <div>
        <form class="form-horizontal" id="add-form" [formGroup]="productoForm" (ngSubmit)="editarProducto()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-modal-label">Edit Post</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="nombre"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Precio</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="precio"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Imagen</label>
                    <img class="img-responsive" src="{{imagen}}" alt="imagen" style="width: 50px;"/>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" (change)="guardarImagen($event)" formControlName="imagen"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Habilitado</label>
                    <div class="col-sm-10">
                        <select formControlName="habilitado">
                            <option>TRUE</option>
                            <option>FALSE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrar()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>
