.example-card {
    max-width: 400px;
}

.mat-card {
    background: #0288d1cf;
    border: solid 2px #01579b;
}

.buttonMercadoPago {
    margin-left: 10px !important;
}

.fullSize {
    width: 100%;
}

.buttonsRow {
    margin-left: 0px;
    margin-right: 0px;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.notAllowed {
    cursor: not-allowed;
}

.bottomActions {
    padding-top: 0px;
    margin-bottom: -10px !important;
}

.descriptionText {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

.actionButton {
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    font-size: 17px;
    color: #070e41;
    background-color: #37149173;
    width: 100%;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
}

.money {
    font-family: 'NTR', cursive;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding-top: 3px;
}

.descriptionTextDiv {
    padding-left: 4px;
}
