<mat-card class="example-card">
    <img mat-card-image src="{{srcImage}}" style="border-bottom: solid 2px #01579b; max-height: 160px;">
    <mat-card-content>
        <div class="row">
            <div class="col-md-8 descriptionTextDiv">
                <p class="descriptionText">{{description}}</p>
            </div>
            <div class="col-md-4">
                <p style="margin-bottom: 0px;" class="money">$5500</p>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="bottomActions" style="margin-left: -16px; margin-right: -16px; border-top: solid 2px #01579b !important;">
        <div class="row buttonsRow">
            <div class="col-md-6 centerButton">
                <button mat-raised-button color="primary" (click)="sendToMercadoPago()" class="actionButton">COMPRAR</button>
            </div>
            <div class="col-md-6 centerButton">
                <button mat-raised-button color="primary" class="actionButton">DESCRIPCIÓN</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>