<div *ngIf="productos">
    <div class="row">
        <div class="col-md-4 separateBottom">
            <product-card [producto]="productos[0]" (mercadoPagoEvento)="setSpinnerState($event)"></product-card>
        </div>

        <div class="col-md-4 separateBottom">
            <product-card [producto]="productos[1]" (mercadoPagoEvento)="setSpinnerState($event)"></product-card>
        </div>

        <div class="col-md-4 separateBottom">
            <product-card [producto]="productos[2]" (mercadoPagoEvento)="setSpinnerState($event)"></product-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 separateBottom">
            <product-card [producto]="productos[3]" (mercadoPagoEvento)="setSpinnerState($event)"></product-card>
        </div>

        <div class="col-md-4 separateBottom">
            <product-card [producto]="productos[4]" (mercadoPagoEvento)="setSpinnerState($event)"></product-card>
        </div>

        <div class="col-md-4 separateBottom">
            <product-card [producto]="productos[5]" (mercadoPagoEvento)="setSpinnerState($event)"></product-card>
        </div>
    </div>
</div>

<ngx-spinner bdOpacity = 0.9 bdColor = "rgba(2,4,64,0.8)" size = "medium" color = "#ffffff" type = "pacman" [fullScreen] = "true">
    <p style="color: white" > Cargando . . . </p>
</ngx-spinner>