<div class="row">
    <div class="col-md-4 separateBottom">
        <product-card srcImage="https://bit.ly/2TA2Dsa" description="Descripcion del inventario" mercadoPagoURL="https://bit.ly/2UfeBvI"></product-card>
    </div>

    <div class="col-md-4">
        <product-card srcImage="https://bit.ly/2KacAgG" description="Descripcion del inventario" mercadoPagoURL="https://bit.ly/2UfeBvI"></product-card>
    </div>

    <div class="col-md-4">
        <product-card srcImage="https://bit.ly/2YLL64b" description="Descripcion del inventario" mercadoPagoURL="https://bit.ly/2UfeBvI"></product-card>
    </div>
</div>

<div class="row separateBottom">
    <div class="col-md-4">
        <product-card srcImage="https://bit.ly/2CS8bJ1" description="Descripcion del inventario" mercadoPagoURL="https://bit.ly/2UfeBvI"></product-card>
    </div>

    <div class="col-md-4">
        <product-card srcImage="https://bit.ly/2FSXsA2" description="Descripcion del inventario" mercadoPagoURL="https://bit.ly/2UfeBvI"></product-card>
    </div>

    <div class="col-md-4">
        <product-card srcImage="https://bit.ly/2FSXwQi" description="Descripcion del inventario" mercadoPagoURL="https://bit.ly/2UfeBvI"></product-card>
    </div>
</div>