<div *ngIf="show">
    <div *ngFor="let arrayProductos of productos;let indice=index" class="row">
        <div *ngFor="let producto of arrayProductos;let indiceEachProductos = index" class="col-md-4 separateBottom">
            <product-card [producto]="producto"></product-card>
        </div>
    </div>
</div>

<ngx-spinner name="cargandoProductos" bdOpacity=0.9 bdColor="#7071b0" size="large" color="#0c056e" type="ball-pulse"
    [fullScreen]="true">
    <p class="text" style="color: rgb(35, 31, 97);"> Cargando productos . . . </p>
</ngx-spinner>