@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.example-card {
    max-width: 400px;
}

.mat-card {
    background: #0288d1cf;
    border: solid 2px #01579b;
}

.border {
    border-bottom: solid 2px #01579b !important;
}

.separateBottom {
    margin-bottom: 8px;
}

.text {
    font-family: 'Fredoka One', cursive;
}