<div class="row">
    <div class="col textCenter">
        <p class="text textBlack" [ngStyle]="textSize">
            El desarrollo de un niño involucra muchos factores. 
            <br />
            <br />Uno de los más importantes es el juego.
            <br />
            <br />Los espacios de juego proponen desafìos para los chicos, dan motivación al aprendizaje y 
            provocan sensación de bienestar en ellos.
            <br />
            <br />Es por eso que al desarrollar el diseño de la gama
        </p> 
        <p class="text textBlue" [ngStyle]="textSize">YOP</p>
        <p class="text textBlack" [ngStyle]="textSize">, se ha contado con la opinión de diversos profesionales que aporten su conocimiento para mejorar los aspectos de cada uno de nuestros productos.</p>
    </div>
    <div class="col center">
        <div [ngStyle]="imagenMargin">
            <img class="contactoImagen" src="https://static.wixstatic.com/media/c64e94_361e9d320a7143cba7d9231d0162673f.png" alt="imagen">
        </div>
    </div>
</div>
