.actionButton {
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    font-size: 17px;
    color: #070e41;
    background-color: #37149173;
    width: 100%;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0px;
}

.siguiente {
    float: right;
    margin-bottom: 18px;
}

.text {
    font-family: 'Fredoka One', cursive;
}

.fullWidth {
    width: 90%;
}

.pointer {
    cursor: pointer;
    float: right;
}

.closeButton {
    margin-bottom: 21px;
}

.emailTitle {
    margin-bottom: 7px;
    font-size: 12px;
}

.telefonoMarginBottom {
    margin-bottom: 1em;
}

.fullWidthForm {
    width: 100%;
}

.formPaddingLeft {
    padding-left: 15px;
}

.telefonoError {
    color: #f44336;
    font-size: 12.4px;
}

.errorText {
    font-family: 'Fredoka One', cursive;
}

.inputText {
    font-family: 'Fredoka One', cursive;
    color: #000000a6 !important;
    font-size: 15px;
}

.telefonoTitle {
    color:black !important;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    margin-bottom: 0px;
}

.telefonoText {
    font-family: 'Fredoka One', cursive;
    color: #000000a6 !important;
    font-size: 14.5px;
}

::ng-deep .mat-form-field-label{
    font-family: 'Fredoka One', cursive !important;
    color:black !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000000a6 !important;
    color: #000000a6 !important;
    font-size: 15px;
}



::ng-deep .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel] {
    color:#000000a6 !important;
}
