@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

.actionButton {
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    font-size: 17px;
    color: #070e41;
    background-color: #37149173;
    width: 100%;
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0px;
}

.siguiente {
    float: right;
    margin-bottom: 18px;
}

.text {
    font-family: 'Fredoka One', cursive;
}

.fullWidth {
    width: 90%;
}

.pointer {
    cursor: pointer;
    float: right;
}

.closeButton {
    margin-bottom: 21px;
}

.emailTitle {
    margin-bottom: 7px;
    font-size: 12px;
}

.telefonoMarginBottom {
    margin-bottom: 1em;
}

.fullWidthForm {
    width: 100%;
}

.formPaddingLeft {
    padding-left: 15px;
}

.telefonoError {
    color: red;
    font-size: 12.4px;
}